.dataTable {
  width: 100%;
  border-collapse: collapse;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.dataTableHead {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--background-color);
  box-shadow: 0px 2px 4px 0px var(--shadow-color);
}