.heading {
	margin: 0;
}

h1.heading {
	font-weight: 600;
	font-size: var(--font-size-xl);
}

h2.heading {
	font-weight: 600;
	font-size: var(--font-size-lg);
}

h3.heading {
	font-weight: 600;
	font-size: var(--font-size-md);
}

h4.heading {
	font-weight: 500;
	font-size: var(--font-size-sm);
}

h5.heading {
	font-weight: 300;
	font-size: var(--font-size-xs);
}

h6.heading {
	font-weight: 200;
	font-size: var(--font-size-xs);
}
