:root {
    --font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-size-basic: 15px;
    --line-height-basic: 1.2rem; /* 18px */

    --font-size-xs: 0.8rem; /* 12px */
    --font-size-sm: 0.8667rem; /* 13px */
    --font-size-md: var(--font-size-basic); /* 15px */
    --font-size-lg: 1.0667rem; /* 16px */
    --font-size-xl: 1.3333rem; /* 20px */
    --font-size-2xl: 1.6rem; /* 24px */

    --line-height-xs: 1rem; /* 15px */
    --line-height-sm: 1.067rem; /* 16px */
    --line-height-md: var(--line-height-basic);
}