.button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-2xs);

  cursor: pointer;

  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  padding: var(--size-2xs) var(--size-md);
}

.before, .after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

.primary {
  background-color: var(--background-color);
  color: var(--text-primary-color);
  box-shadow: 0px 2px 2px 0px var(--shadow-color);

  border: 1px solid var(--border-color);
  border-radius: var(--size-4xs);
}

.transparent {
  background-color: transparent;
  color: var(--text-primary-color);

  border: none;
}

