.dataTableHeader {
  border-right: 1px solid var(--border-color);
  padding: var(--size-xs) var(--size-md);
  text-align: left;
  color: var(--text-secondary-color);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-weight: 600;
  vertical-align: middle;
}

.dataTableHeaderSortableWrapper {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  /** to adjust to the arrow icon left side **/
  margin-left: -4px;
}

button.dataTableHeaderSortable {
  color: var(--text-secondary-color);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-weight: 600;
  padding: 0;
  margin: 0;
}
