.container {
    display: flex;
    flex-direction: column;
    gap: var(--size-lg);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--size-4xl);
}